@import "tailwindcss";

:root {
--theme-color-primary: darkblue;
--theme-color-secondary: dodgerblue;
}

@theme inline {
  --color-primary: var(--theme-color-primary);
  --color-secondary: var(--theme-color-secondary);
}
